//// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//
//// Variables
//@import 'variables';
//
//// Bootstrap
//@import '~bootstrap/scss/bootstrap';
//

.home-image-form {
    background-image: url('/storage/img/calendar-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
